html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    font-size: 2.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    aspect-ratio: 1 / 1;
}

div#header {
    display: flex;
    position: fixed;
    z-index: 10;

    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 15vh;

    background-color: lightcyan;
}

div#catalogue-container {
    display: flex;
    position: fixed;
    z-index: 5;

    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 85vh;

    justify-self: center;
    align-self: center;
    gap: 2vw;

    background-color: rgb(117, 18, 117);
}