html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#header {
    display: flex;
    position: fixed;
    z-index: 10;

    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 15vh;

    background-color: lightcyan;
}

catalogue {
    display: fixed;
    position: fixed;
    z-index: 9;

    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 85vh;

    justify-self: center;
    align-self: center;
    gap: 2vw;

    transition: 0.5s all ease-in-out;
    background-color: rgb(117, 18, 117);
}
.hidden {
    bottom: calc(85vh - 3px);
}

.middle {
    flex-grow: 1;
    text-align: center;
    align-self: center;
}

#login-section {
    display: flex;
    justify-content: right;
    align-items: center;
    aspect-ratio: 1 / 1;
}
button {
    font-size: 1.7rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    padding: auto;
    margin: auto;
} 