html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#header {
    display: flex;
    position: fixed;
    z-index: 10;

    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 15vh;

    background-color: lightcyan;

    #homeBtn {
        cursor: pointer;
        padding: auto;
        margin: auto;
        width: 20%;
        justify-content: center;
        margin-right: 15%;

        button {
            font-size: 2.4vw;
            background-color: transparent;
            border: none;
            height: 100%;
            aspect-ratio: 1/1 !important;
            padding-left: 4%;
        }
    }

    .middle {
        justify-self: center;
        text-align: center;
        align-self: center;
        width: 30%;

        h1 {
            padding: 0;
            margin: 0;
        }
    }

    #account-section {
        font-size: 1.3em;
        display: flex;
        justify-self: right;
        width: 35%;
        justify-content: flex-end;
        gap: 10%;
        align-items: center;
        padding-right: 4%;

        .lil {
            max-width: 40%;
        }
        
        a {
            justify-self: right;
            text-decoration: none;
            color: black;
        }
    }
}

catalogue {
    display: fixed;
    position: fixed;
    z-index: 9;

    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 85vh;

    justify-self: center;
    align-self: center;
    gap: 2vw;

    transition: 0.5s all ease-in-out;
    background-color: rgb(117, 18, 117);
}

.hidden {
    bottom: calc(85vh - 3px);
}