* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#game-container {
    z-index: 1;
    margin-top: 15vh;
    min-width: 80vw;
    height: 85vh;
    padding: 2%;

    display: flex;

    justify-self: center;
    justify-content: center;
    align-items: center;

    game-page {
        width: 100%;
        height: 100%;
    }
}