div.uppies {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1em;

    h2 {
        display: flex;
        width: 50%;
        margin-left: 25%;
        text-align: center;
    }

    button {
        display: flex;
        align-self: center;
        text-align: center;
    }

    button.da-dino {
        width: 15%;
        height: 2em;
        margin: 0 5% 0 5%;
    }


}

.side {
    display: flex;
    margin: 0;
    padding: 0;
    justify-self: center;
    width: 50%;
    height: 28vw;
}

.left {
    float: inline-start;
    align-self: left;

    img {
        width: 28vw;
        height: 100%;

        border: whitesmoke;
        border-radius: 10%;

        overflow: hidden;

    }
}

.right {
    flex-direction: column;
    float: inline-end;
    align-self: right;

    p {
        min-height: 3ch;
        max-height: 30ch;
        width: 60%;
        overflow-y: auto;
    }

    div.idkFRFR {
        padding-top: 10%;
        display: flex;
        justify-self: center;
        justify-content: center;
        gap: 7%;
    }
}