<ng-container *ngIf="selectedGame()?.name === null; else hasGame">
    <game-board></game-board>
</ng-container>

<ng-template #hasGame>
    <div class="uppies">
        <h2><b>Game: </b>{{ selectedGame()?.name }}</h2>
        <button mat-raised-button (click)="clearSelect()" class="da-dino">Da Dino</button>
    </div>
    <div class="side left">
        <img class="shadow-lg" src="{{ selectedGame()?.imageURL }}">
    </div>
    <div class="side right">
        <p><b>Genre: </b>
            {{ selectedGame()?.genre }}</p>
        <p><b>Price: </b>
            {{ selectedGame()?.price }}</p>
        <p><b>Rating: </b>
            {{  selectedGame()?.rating }}</p>
        <b>Description: </b>
        <p>{{ selectedGame()?.description }}</p>
        <p><b>Publisher: </b>
            {{  selectedGame()?.publisher  }}</p>

        <div class="idkFRFR">
            <button mat-raised-button class="btn-operations">Buy</button>
            <button mat-raised-button class="btn-operations">Add to cart</button>
        </div>
    </div>
</ng-template>