<ng-container *ngIf="selectedGame()?.name === null; else hasGame">
    <game-board></game-board>
</ng-container>

<ng-template #hasGame>
    <div class="uppies">
        <h2><b>Game: </b>{{ selectedGame()?.name }}</h2>
        <button (click)="clearSelect()">Da Dino</button>
    </div>
    <div class="side left">
        <img class="shadow-lg" src="{{ selectedGame()?.imageURL }}">
    </div>
    <div class="side right">
        <p><b>Genre: </b>
        {{ selectedGame()?.genre }}</p>
        <p><b>Price: </b>
        {{ selectedGame()?.price }}</p>
        <b>Description: </b>
        <p>{{ selectedGame()?.description }}</p>

        <div>
            <button class="btn-outline-primary">Buy</button>
            <button class="btn-outline-primary">Demo</button>
        </div>
    </div>
</ng-template>