div#catalogue-container {
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 2vw;
    border-bottom: lightblue 4px solid;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12vw, 1fr));
    grid-auto-rows: minmax(12vw, auto);

    justify-items: center;
    align-items: center;
}

.game-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    width: 10vw;
    height: 10vw;
    border: whitesmoke;
    border-radius: 10%;

    background-color: #f9f9f9;
}

p {
    margin: 0;
    padding: 0;
}