div#catalogue-container {
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 2vw;
    border-bottom: lightblue 4px solid;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    grid-auto-rows: minmax(22vw, auto);

    justify-items: center;
    align-items: center;
}

.game-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    text-align: center;
    
    width: 20vw;
    height: 20vw;
    border-radius: 8%;
    border: whitesmoke;
    border-radius: 10%;
    background-color: lightcyan;
    overflow: hidden;
    
    img {
        width: 100%;
        height: calc(100% - 2.5rem);
        object-fit: cover;
        object-position: center;
        display: block;
    }
    
    p {
        align-self: center;
        margin: 0;
        padding: 0.35rem 0;
        font-size: 0.95rem;
    }
}