.game-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    width: 5vw;
    height: 5vw;
    border: whitesmoke;
    border-radius: 10%;

    margin: 1vw;

    background-color: #f9f9f9;
}

p {
    margin: 0;
    padding: 0;
}